<footer class="pt-lg-5 pb-lg-3 mb-5 josefinSans">
	<div class="container">
		<div class="row">
			<div class="col-6 d-flex justify-content-center">
				<a href="{{ path('app_home') }}">Qui sommes-nous ?</a>
				<span>|</span>
				<a href="{{ path('app_home') }}">Contactez-nous</a>
			</div>
			<div class="col-5 d-flex justify-content-center">
				<a href="{{ path('app_home') }}">Mentions légales</a>
				<span>|</span>
				<a href="{{ path('app_home') }}">Politique de confidentialité</a>
			</div>
		</div>
	</div>
</footer>
