<h3>Bonjour
	{{ login }}</h3>
<p>Pour réinitialiser votre mot de passe veuillez cliquer sur le lien ci-dessous
	<a href="{{ url|raw }}">Réinitialiser mon mot de passe</a>
</p>
<br>
<p>Attention ! Ce lien expirera dans
	{{ expiresAtMessageData }}</p>
<br>
<br>
<p>A bientôt sur le Réseau des Semeurs de Jardins =D</p>
